


.modal {
    background-color: var(--white);
    color: white;
}
.close-button::before,
.close-button::after {
    background: var(--black); 
}


.contact-input {
    border: 3px solid var(--purple);
    color: #999ead;
}

.contact-form input::placeholder {
    color: #999ead;
}



.contact-form button {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.contact-form button:hover {
    background-color: var(--purple);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-form button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--purple);
}


.checkbox-label {
    color: var(--purple);
}

.checkbox-label input[type="checkbox"] {
    border: 1.5px solid  var(--purple);
}

.checkbox-label input[type="checkbox"]:checked::after {
    color:  var(--purple);
}






.header__btn-box {
    outline: solid var(--purple)  2px ;
    transition: .2s;
}
.header__btn-box:hover {
    outline: 3px  solid var(--purple)  ;
}
.header__btn-box:active {
    outline: 3px  solid var(--purple)  ;
}


.header__top-btn {
    color: var(--purple);
}
.burger__line {

  background: var(--purple);
}

.burger.active .burger__line {
  background: var(--purple);
}

.popup-link:hover {
  color: var(--purple);
}

.footer-line {
  background: var(--purple);
}


.footer-button{
    background: var(--purple);
}




.advantage {
  margin-top: 550px;
}
.advantage-wrap {
  display: flex;
}
.advantage-head {
  margin-right: 23rem;
  font-weight: 700;
  line-height: 120%;
  font-size: 4rem;
}
.advantage-subtitle {
  margin-top: 30px;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}
.advantage-item {
  margin-right: 10rem;
}

.advantage-top {
  margin-top: 60px;
}
.advantage-img-wrap {
  margin-bottom: 25px;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 18%);
}

.advantage-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 1.87rem;
}
.advantage-sub {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.production-title {
  margin-bottom: 40px;
  justify-content: center;
  width: 47rem;
  margin-top: 125px;
  font-weight: 700;
  line-height: 120%;
  font-size: 4rem;
}


.production-subtitle {
  margin-bottom: 65px;
  width: 40rem;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}

.production-item {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.production-head {
  margin-bottom: 30px;
  font-weight: 700;

  font-size: 3rem;
}

.production-inner {
  width: 590px;
  height: 496px;
  border-radius: 10px;
}

.production-inner {
  width: 100%;
  aspect-ratio: 1 / 1;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.input-button {
  width: 40rem;
  display: inline-block;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #0197A7;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center;
  text-decoration: none;
  outline: none;
}

.gallery-container {
    display: flex;
    gap: 10px;
    max-width: 500px;
    width: 100%;
}

.main-image {
    position: relative;
    flex: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: auto;
    display: block;
}

.thumbnail-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.thumbnail-item {
    border: 1px solid #F7F8FA;
    background-color: #F7F8FA;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}  

.product-section {
  margin: 45px auto 0 auto;
    display: flex;
    gap: 40px;
    max-width: 1200px;

    padding: 20px;
}


.product-info {
    flex: 1;
    max-width: 400px;
}

.product-info h1 {
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 45px;
}


.price-actions-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.product-price {
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
}

.product-actions {
    display: flex;
    gap: 15px;
}

.product-actions button {
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.product-actions button:first-child {
    background-color: #CB72B4;
    color: white;
    border: none;
}

.product-actions button:first-child:hover {
    background-color: #b45a9d;
}

.product-actions button:last-child {
    background-color: transparent;
    color: #CB72B4;
    border: 1px solid #CB72B4;
}

.product-actions button:last-child:hover {
    background-color: #f8eaf5;
}


.product-actions svg {
    margin-left: 8px;
}


.product-description {
    margin-top: 30px;
}

.product-description p {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 20px;
    white-space: pre-line;
}


.order-button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
  width: 300px;
height: 50px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #CB72B4;
    color: white;
display: flex;
justify-content: center;
align-items: center;
    transition: all 0.3s ease;
}

.order-button:hover {
    background-color: #b45a9d;
}
.order-button-c {
  margin-top: 20px;
width: 421px;
height: 50px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #CB72B4;
    color: white;
display: flex;
justify-content: center;
align-items: center;
    transition: all 0.3s ease;
}

.order-button-c:hover {
    background-color: #b45a9d;
}
.partner-button  {
  margin-top: 20px;
width: 285px;
height: 40px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #CB72B4;
    color: white;
display: flex;
justify-content: center;
align-items: center;
    transition: all 0.3s ease;
}

.partner-button:hover {
    background-color: #b45a9d;
}

.sections-container {
    display: flex;
    gap: 40px;
    max-width: 1200px;
    margin: 0px auto 40px auto;
    padding: 0 20px;
}


.buy-header h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 60px;
}

.buy-options {
gap: 46px;
    margin-bottom: 30px;
    display: flex;

}



.buy-option {
 
  margin-right: 185px;
  margin-bottom: 20px;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
    text-decoration: none;
    color: #000000;
    font-size:  1.5rem;
    font-weight: 700;
    text-decoration: underline;
}

.buy-option svg {
    margin-left: 10px;
}

.buy-option:last-child {
    border-bottom: none;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}




.partner-button {
    background-color: transparent;
    border: 1px solid #CB72B4;
    color: #CB72B4;
    align-self: flex-start;
}

.partner-button:hover {
    background-color: #f8eaf5;
}

.order-button svg {
    margin-left: 10px;
}
.order-button-c svg {
    margin-left: 10px;
}
.partner-button svg {
    margin-left: 10px;
}


.info-card {
  margin-left: auto;
margin-top: -10px;
}


.info-item {
  gap: 282px;
  margin-bottom: 18px;
    display: flex;
    align-items: center;
    padding: 0px 0 10px 0 ;
    border-bottom: 1px solid #E0E0E0;
}


.label {
    font-size: 1.375rem;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
}


.value {
  margin-left: auto;
  max-width: 272px;
  min-width: 272px;
  font-weight: 400;

    font-size: 1.375rem;
line-height: 109%;
    color: #666;
    display: flex;
    align-items: center;
}


.value svg {
    margin-left: 10px;
}


.info-item:last-child {
    border-bottom: none;
}

.review-grid-с{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}


.view-all-button {
  display: block;
  margin-top: 20px;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  color: #CB72B4;
  border: none;
  text-decoration: underline;
}



.reviews-section {
  margin-top: 40px;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.reviews-titles {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 47px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.review-card {
  font-family: Arial, sans-serif;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  line-height: 1.4;
}


.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 12px;
}

.review-avatar svg {
  display: block;
}

.review-author-info {
  flex: 1;
}

.review-author {
  font-size: 16px;
  font-weight: 120px;
}

.review-expertise {
  font-size: 12px;
  color: #B2B6C1;
}

.review-rating-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.review-marks {
  display: flex;
  align-items: center;
}

.review-date {
  font-size: 14px;
  color: #B2B6C1;
}

.review-text {
  margin-bottom: 15px;
  text-align: left;
  font-size: 15px;
  line-height: 1.5;
}

.review-likes {
  display: flex;
  gap: 15px;
}

.like, .dislike {
  display: flex;
  align-items: center;
  gap: 5px;
}

.like svg, .dislike svg {
  display: block;
}

.more-order-sections {
  max-width: 1380px;
  margin: 40px auto;
  padding: 0 20px;
}



.more-order-sections h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}



.slider-section {
  position: relative;
  margin: 40px 0;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 15px;
}

.slider-track {
  flex: 1;
  overflow: hidden;
  position: relative;
}


.slider {
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.product-card {
  flex: 0 0 calc(33.333% - 13.33px); 
  box-sizing: border-box;
}



.slider {
  display: flex;
  gap: 20px;
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
  padding: 0;
  margin: 0;
  list-style: none;
}




.product-card {
  flex: 0 0 calc(33.333% - 13.33px); 
  box-sizing: border-box;
  opacity: 1;
  text-decoration: none;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 386px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: -1px 8px 9px rgba(0, 0, 0, 0.2), 
              2px 0 4px rgba(0, 0, 0, 0.2), 
              -3px 2px 0px 0px rgba(0, 0, 0, 0.05);
}



.product-image-container {
  width: 100%;
}

.product-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-details{
  text-align: center;
}


.product-details h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
  color: var(--black, #000);
  transition: .3s;
}

.product-card:hover .product-details h3 {
  color: #cb72b4;
}

.product-details p {
  font-size: 14px;
  color: #666;
  margin: 0;
}



.prev-arrow,
.next-arrow {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  flex-shrink: 0;
}

.prev-arrow:hover,
.next-arrow:hover {
  opacity: 1;
}

.prev-arrow:disabled,
.next-arrow:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}


.specialists-section {
  max-width: 1200px;
  margin: 40px auto;
  text-align: center;
}

.specialists-section h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 70px;
  margin-top: 77px;
}

.widgets-container {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.widgets-container img {
  width: 350px;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

#selected-item-child{
  margin-top: 80px;
}

@media (max-width: 1350px) {


  .buy-options {
    flex-direction: column-reverse;
  }
  .none{
    display: block;
  }
  .block{
    display: none;
  }
.fl{
  display: none;
}

.info-card {
  margin-top: 40px;
}

 }

@media (max-width: 1250px) {
    .product-card {
    flex: 0 0 calc(50% - 10px); 
  }
  
  .product-image-container {
    height: 300px;
  }
}
@media (max-width: 1150px) {
.more-order-sections h1  {
  font-size: 2rem;
}

.product-info h1  {
  white-space:  nowrap;
  font-size: 3rem;
}


.widgets-container img {
    width: 305px;
}
.widgets-container {
    flex-direction: column;
    align-items: center;
}
.specialists-section h1 {
    font-size: 2rem;
}
}

@media (max-width: 1150px) {



  .more-order-sections h1 {
    font-size: 2rem;
  }
  .reviews-titles,     .product-price, .buy-header h1{
    font-size: 2rem;
  }

}

@media (max-width: 1050px) {


 .review-grid-с{
    grid-template-columns:   420px;
  }
  .reviews-titles, .buy-header h1{
    text-align: center;
  }
  .view-all-button{
        margin-left: auto;
        margin-right: auto;
  }

 .gallery-container {

    width: 430px;


 }
}



@media (max-width: 960px) {
.product-actions button {
      padding: 5px 6px;
}

   .product-section{
  flex-direction: column;
  align-items: center;
} 
.sections-container{
justify-content: center;
} 

.widgets-container img {
    width: 305px;
}
}


@media (max-width: 768px) {
      .product-image-container {
        height: 300px;
    }
.info-item {
    gap: 145px;

}


  .product-card {
    flex: 0 0 100%;
  }
  
  .more-order-sections h1  {
    font-size: 1.5rem;
  }
  
 
  
  .slider-container {
    gap: 10px;
  }
}

@media (max-width: 650px) {
.info-item {
    gap: 145px;

}

.info-card{
  margin-left: 0;
}
.label{
  font-size: 1.2rem;
}

.product-description p {
  font-size: 1rem ;
}
.value{
    font-size: 1.2rem;
}
.buy-option{
   font-size: 1.2rem;
}
}
@media (max-width: 600px) {

.info-card{
  margin-left: 0;
}

.product-description p {
  font-size: 1rem ;
}
.label{
  font-size: .9rem;
}
.value{
    font-size: .9rem;
}
.buy-option{
   font-size: .9em;
}
}


@media (max-width: 560px) {

  .product-info h1 {
        margin-bottom: 20px;
  }

  .product-info h1 {
        font-size: 2rem;
    }
.main-image{
  width: 301px;
}
.thumbnail-item{
  width: 70px;
  height: 70px;
}
    .gallery-container {
        width: 315px;

    }
.order-button{
  margin-left: 0;
}
    .product-section{
              align-items: start;
    }
    .product-price{
      font-size: 1.5rem;
    }

  .price-actions-container {
align-items: flex-start;
    flex-direction: column;
}

.gallery-container{
    flex-direction: column;
}

.product-description p {
  font-size: .9rem ;
}
.label{
  font-size: .87rem;
}
.value{
    font-size: .87rem;
}
.buy-option{
   font-size: .87em;
}
    .info-item {
        gap: 100px;
    }
    .thumbnail-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

}

@media (max-width: 510px) {
.review-grid-с {
        grid-template-columns: 302px;
    }
    .review-date {
      font-size: 12px;
    }


}

@media (max-width: 510px) {
.value {
    margin-left: auto;
    max-width: 184px;
    min-width: 184px;
  }

.label{
  font-size: .87rem;
}
.value{
    font-size: .87rem;
}
.buy-option{
   font-size: .87em;
}
    .info-item {
        gap: 100px;
    }
.order-button-c{
width: 228px;
height: 35px;
    font-size: 12px;
       padding: 0;


}

.partner-button{
width: 163px;
height: 25px;
padding: 0;
font-size: 12px;
}



}
@media (max-width: 420px) {
    .info-item {
        gap: 0px;
    }
        .value {
        margin-left: auto;
        max-width: 144px;
        min-width: 144px;
    }
}