

.modal {
    background-color: var(--white);
    color: white;
}
.close-button::before,
.close-button::after {
    background: var(--black); 
}


.contact-input {
    border: 3px solid var(--teal);
    color: #999ead;
}

.contact-form input::placeholder {
    color: #999ead;
}




.contact-form button {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.contact-form button:hover {
    background-color: var(--teal);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-form button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--teal);
}


.checkbox-label {
    color: var(--teal);
}

.checkbox-label input[type="checkbox"] {
    border: 1.5px solid  var(--teal);
}

.checkbox-label input[type="checkbox"]:checked::after {
    color:  var(--teal);
}


.footer-line {
  background: var(--teal);
}

.header__btn-box {
  outline: solid var(--teal) 2px;
      transition: .2s;
}
.header__btn-box:hover {
    outline: 3px  solid var(--teal)  ;
}
.header__btn-box:active {
    outline: 3px  solid var(--teal)  ;
}


.header__top-btn {
  color: var(--teal);
}
.burger__line {
  background: var(--teal);
}

.burger.active .burger__line {
  background: var(--teal);
}

.popup-link:hover {
  color: var(--teal);
}


.footer-line{
     background: var(--teal);
}


.footer-button{
   background: var(--teal);
  }


.contacts-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto; 
}

.contacts-body {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

.contacts-body-wrap.contacts-info {
  width: 100%;
  margin: 0;
  padding: 0;
}


.contacts-body-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.contact-title {
  margin-top: 133px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 5rem;
  line-height: 120%;
  color: var(--black);
}

.contact-subtitle {
  margin-bottom: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.contacts-body-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.input-icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
}


.input-icon-cont-email{

  background-image: url(../img/letter-black.svg);
}
.input-icon-cont-human{
  background-image: url(../img/human-black.svg);
}
.input-icon-cont-fea{
  background-image: url(../img/Fea.svg);
}
.input-icon-cont-messed{
    width: 40rem; 
  height: 195px;
  resize: none; 
  overflow-y: auto;
  box-sizing: border-box; 
  background-image: url(../img/messed.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 6% !important;
  padding: 12px 40px 12px 16px;
  border: 2px solid #0197A7;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--black);
  background-image: url(../img/messed.svg);
}

.input-icon-wrap input,
.input-icon-wrap textarea {
    background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%; 
  width: 40rem;
  padding: 12px 40px 12px 16px;
  border: 2px solid #0197A7;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
}



.input-icon-wrap input:focus + .input-icon,
.input-icon-wrap textarea:focus + .input-icon {
  opacity: 1;
}
.contacts-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto; 
}


.contacts-body-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts-body-wrap{
  width: 100%;
  margin: 0;
  padding: 0;
}



.contact-wrap{
  display: grid;
grid-template-columns: 474px 1fr;
grid-template-rows: 74px;
grid-column-gap: 8vw;
margin-bottom: 125px;
}






.contact-subtitle {
  width: 474px;
height: 74px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
}








.input-icon-wrap {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon-wrap {
  position: relative;
  display: inline-flex;
  width: fit-content;
}
.footer-top{
  margin-top: 100px;
}


.input-button{
 transition: .5s;
  font-weight: 700;
font-size: 1rem;
display: flex;
justify-content: center;
align-items: center;
line-height: 125%;

  width: 200px;
  height: 44px;
  color: var(--white);
  background: var(--teal);
  border-radius: 8px;
}
.input-button:hover{
 transform: scale(1.05);
}
.input-button:active{
transform: scale(1.05);
}



@media (max-width: 1050px) {
.contact-sub{
  display: none;
}
}



@media (max-width: 800px) {
.contact-wrap{
    grid-column-gap: 0vw;
}
.contact-subtitle{
  font-size: 1rem;
}

}


@media (max-width: 730px) {
    .contacts-info {
    padding: 0 16px;
    box-sizing: border-box;
  }
    .input-icon-wrap {
    width: 100% !important;
    max-width: none;
  }
  
  .input-icon-wrap input,
  .input-icon-wrap textarea {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: 16px;
  }
}



@media (max-width: 540px) {
  .contact-wrap {
    grid-template-columns: 320px 0fr;
}
.contact-subtitle{
  width: 100%;
}
}


