

.modal {
    background-color: var(--white);
    color: white;
}


.close-button::before,
.close-button::after {
    background: var(--black); 
}


.contact-input {
    border: 3px solid var(--orange);
    color: #999ead;
}

.contact-form input::placeholder {
    color: #999ead;
}




.contact-form button {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.contact-form button:hover {
    background-color: var(--orange);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-form button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--orange);
}


.checkbox-label {
    color: var(--orange);
}

.checkbox-label input[type="checkbox"] {
    border: 1.5px solid  var(--orange);
}

.checkbox-label input[type="checkbox"]:checked::after {
    color:  var(--orange);
}



.button-container-wrap{
  margin-top: 64px;
  margin-bottom: 120px;
  display: flex;
  gap: 28px;
justify-content: center;
}
.content-title {
  margin-top: 100px;

}

.content-description {
  margin: 0 auto;
  width: 520px;
  font-size: 16px;
  line-height: 1.6;
  color: var(--black);
  text-align: center;
  word-break: break-word;
  hyphens: auto;
  margin-bottom: 4.6rem;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.reviews-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.review-card {
  box-shadow: 0 2px 8px 0 rgba(71, 74, 89, 0.08), 0 2px 2px 0 rgba(71, 74, 89, 0.02);
background: var(--white);
  padding: 24px;
  border-radius: 12px;
  line-height: 1.4;
}


.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 12px;
}

.review-avatar{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}



.review-author {
  margin-right: 1.8vw;

  font-size: 1rem;
  font-weight: 400;
}

.review-expertise {
  font-size: 12px;
  color: #B2B6C1;
}

.review-rating-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 34px;
}

.review-marks {
  display: flex;
  align-items: center;
}

.review-date {
  font-size: 12px;
  color: #B2B6C1;
}

.review-text {
  margin-bottom: 26px;
  text-align: left;
  font-size: 15px;
  line-height: 1.5;
}

.review-likes {
  display: flex;
  gap: 15px;
}

.like, .dislike {
  display: flex;
  align-items: center;
  gap: 5px;
}

.like svg, .dislike svg {
  display: block;
}


.button-container {
  margin-top: 64px;
  margin-bottom: 120px;
  display: flex;
  gap: 28px;
justify-content: center;
}


.primary-button {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition:  0.5s ease;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  justify-content: space-between;
}
.primary-button:hover {
 background: var( --white); 
  color: var(--black);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.primary-button:active {
 background: var( --white); 
  color: var(--black);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);

}


.form-button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



.head-button-wrap{
  background: var(--black);
  color: var(--white);
      white-space: nowrap;
    display: flex;
  align-items: center;
  justify-content: center;
    width: 221px;
height: 56px;
  border-radius: 12px;
gap: 12px;
transition: .3s;
}
.head-button-wrap:hover{
    background-color: #222020;

}
.head-button-wrap:hover{
    background-color: #222020;

}

.head-button{
background-repeat: no-repeat;
  font-weight: 700;



}

.secondary-button {
   display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  width: 203px;
height: 56px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  white-space: nowrap;
}

.secondary-button:hover {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}
.secondary-button:active {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.input-with-icon-star input{
    background-position: calc(100% - 12px) 50% ;
  background-repeat: no-repeat;
  background-image: url(../img/star-5.svg);
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
  color: var(--black);
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--black);
}


.feedback-section {
    
  margin-right: auto;
  margin-left: auto;
    max-width: 1200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.feedback-card {
  background-color: var(--orange);
  color: white;
  padding: 40px;
  border-radius: 24px;
  display: flex;
  gap: 70px;
  max-width: 1600px;
  width: 100%;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container {
  display: flex;
  align-items: center;

}
.input-container-btn {
  display: flex;
  align-items: center;
}

.input-with-icon {
  position: relative;
}


.input-with-icon-hell input {
      background-position: calc(100% - 12px) 50% ;
width: 24px;
  background-image: url(../img/chell-gray.svg);
}
.input-with-icon-mes input{
        background-position: calc(100% - 12px) 50% ;
  width: 24px;
   background-image: url(../img/messs.svg);
}
.input-with-icon-fea input{
        background-position: calc(100% - 12px) 50% ;
  width: 24px;
   background-image: url(../img/featt.svg);
}


.input-with-icon input {
    background-repeat: no-repeat;
  width: 358px;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}



.publish-button {
  margin-left: 20px;
  white-space: nowrap;
  flex-shrink: 0;
  padding: 12px 24px;
}

.block{
  display: none;
}
@media (max-width: 1200px) {
  .none{
    display: none;
  }
  .block{
    display: block;
  }
.publish-button{
  margin-left: 0;
}


.primar-button{
  margin-right: 16vw;
  min-width: 259px;
}

}




@media  (max-width: 992px) {
    .reviews-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .feedback-card {
    width: 100%;
    padding: 30px;
    gap: 30px;
  }

  .primar-button{
    max-width: 164px;
    min-width: 164px;
  }
    .feedback-card {

    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }


.feedback-section{
  background: var(--orange);
}


  .content-title, .reviews-title {
    font-size: 40px;
  }
  
  .left-section h1 {
    font-size: 32px;
  }
  
  .review-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .input-container-btn {
    width: 100%;
  }
  .input-container {
    width: 100%;
  }
  
  .input-with-icon {
   min-width: 302px;
   max-width: 302px;
  }
  
  .input-with-icon .star-icon {
    width: 18px;
    height: 18px;
  }
  
  .input-with-icon input {

    font-size: 15px;
  }
  
  .publish-button {
    padding: 10px 20px;
    font-size: 15px;
  }
}


@media (max-width: 802px) {
  .feedback-card {
    padding: 20px;
  }
  
  .input-container-btn {
    gap: 10px;
  }
  
  .input-container {
    gap: 10px;
  }
  
  .input-with-icon input {
  
    font-size: 14px;
  }
  


}





@media (max-width: 768px) {



    .reviews-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .feedback-section {
    justify-content: stretch;
    padding: 20px;
  
    max-width: 100%;
  
  }
  


  
  .content-title, .reviews-title {
    font-size: 32px;
  }

  .content-description {
      width: 320px;
    margin-bottom: 5rem;
    font-size: 14px;
  }
  
  .left-section h1 {
    font-size: 28px;
  }
  
  .right-section {
    width: 100%;
  }
  
  .input-container-btn {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
  .input-container {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
  
  .input-with-icon .star-icon {
    width: 16px;
    height: 16px;
  }
  
  .input-with-icon input {
    font-size: 14px;
  }
  

  

  
.primar-button{
  margin-right: 0;
}
.right-section{
  align-items: flex-start;
}

  .review-grid {
    gap: 36px;
    grid-template-columns: 420px;
  }
  
  .reviews-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .feedback-card {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}


@media (max-width: 480px) {
   .review-date {
white-space:  nowrap;
      font-size: 12px;
    }

  .input-with-icon .star-icon {
    width: 14px;
    height: 14px;
  }
  
  .input-with-icon input {
    font-size: 13px;
  }
  
  .review-grid {
    grid-template-columns: 301px;
  }
  
  .content-title, .reviews-title {
    font-size: 25px;
  }
  
  .left-section h1 {
    font-size: 24px;
  }
.input-with-icon input{
 max-width: 302px;
 min-width: 302px;
}
.input-with-icon-star input{
 background-image: url(../img/star-adap.svg); 
}
    
}


@media (max-width: 480px) {
.secondary-button{
  font-size: .8rem;
}



.head-button{
   font-size: .8rem;
}
}

@media (max-width: 400px) {


.head-button-wrap{
 height: 46px;
}
.secondary-button{
height: 46px;
}

  .content-description{
font-size: 12px;
width: 255px;
}

}

  