.modal {
  background-color: var(--white);
  color: white;
}


.close-button::before,
.close-button::after {
  background: var(--black);
}


.contact-input {
  border: 3px solid var(--orange);
  color: #999ead;
}

.contact-form input::placeholder {
  color: #999ead;
}




.contact-form button {
  background-color: var(--black);
  color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.contact-form button:hover {
  background-color: var(--orange);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-form button:active {
  transform: translateY(2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--orange);
}


.checkbox-label {
  color: var(--orange);
}

.checkbox-label input[type="checkbox"] {
  border: 1.5px solid var(--orange);
}

.checkbox-label input[type="checkbox"]:checked::after {
  color: var(--orange);
}


.header__btn-box {
  outline: solid var(--orange) 2px;
  transition: .2s;
}

.header__btn-box:hover {
  outline: 3px solid var(--orange);
}

.header__btn-box:active {
  outline: 3px solid var(--orange);
}


.header__top-btn {
  color: var(--orange);
}

.burger__line {

  background: var(--orange);
}

.burger.active .burger__line {
  background: var(--orange);
}

.popup-link:hover {
  color: var(--orange);
}

.footer-line {
  background: var(--orange);
}



.header-body-item {
  max-width: 1400px;
  height: 650px;
  border-radius: 24px;
  background: var(--orange);
  width: 90vw;
  border-radius: 25px;
  display: flex;
  padding: 3.75rem;
}

.form-button {
  margin-left: 20px;
  font-size: .9rem;
  font-weight: bold;
  background: var(--black);
  color: var(--white);
  width: 13rem;
  height: 44px;
  border-radius: 8px;
  transition: .5s;
}

.form-button:hover {
  background: #ffffff;
  color: #2D1E00;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.form-button:active {
  background: #ffffff;
  color: #2D1E00;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}







.icon-input-2 {
  width: 300px;
  padding: 12px 40px 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
  background-size: 20px;

}

.icon-input-2 {
  background-image: url('../img/letter-gray.svg');
}

.icon-input-3 {
  background-image: url('../img/letter-orange.svg');
}

.icon-input-4 {
  background-image: url('../img/call-orange.svg');
}


.head-form-wrap {
  display: flex;
}



.header-body {
  width: 100%;
  padding: 40px 0;
}

.header--wrap {
  max-width: 1200px;
  margin: 0 auto;
}


.head-subtitle {
  font-size: 1rem;
  line-height: 24px;
  max-width: 800px;
  margin: 0 auto;
  font-weight: 400;
  color: var(--black);
}

.body-head {
  font-weight: 700;
  line-height: 120%;
  font-size: 4rem;
  margin-bottom: 40px;

}

.body-subhead {
  max-width: 30.6rem;
  height: 100px;
  margin-bottom: 40px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}






.body-img-child {
  border-radius: 10px;
  min-width: 530px;
  max-width: 530px;
  width: 100%;
  height: 100%;

}

.header-img {
  margin-left: auto;
}

.header-item {
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 130px;
}





.work-head {
text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 67px;
}

.work-wrap {
  display: flex;
  gap: 20px;
}

.btn-work--white {
  margin-top: 30px;
  color: var(--white);
  background: var(--black);
  width: 26.6rem;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: .5s;
  border: 2px var(--black) solid;
  line-height: 24px;
    font-weight: bold;
    font-size: 2rem;
}

.btn-work--white:hover {
transform: scale(.97);
}
.btn-work--white:active {
transform: scale(.97);
}








.btn-work--black {
    line-height: 24px;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 30px;
  width: 26.6rem;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: transparent;
    color: var(--black);
  border: 2px var(--black) solid;
  transition: .5s;
}

.btn-work--black:hover {
  transform: scale(.98);
  color: var(--white);
  background: var(--black);
}

.btn-work--black:active {
  transform: scale(.98);
  color: var(--white);
  background: var(--black);
}








.blog {
  margin-bottom: 182px;
  margin-top: 300px;
}

.blog-wrap {
  display: flex;
}

.blog-headtitle {
  font-weight: bold;
  font-size: 4rem;
  color: var(--orange);
  line-height: 64px;
}




.partners {
  margin-bottom: 35px;
}

.partners-head {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.partners-head-title {
  width: 36.25rem;
  line-height: 38px;
  font-size: 30px;
  font-weight: bold;
  word-wrap: break-word;
}

.partners-head-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.partners-wrap {
  display: block;
  margin-left: auto;
}


.partners-line {
  margin-top: 16px;
}

.p-line {
  background: rgba(175, 173, 173, 0.685);
  width: 100%;
  height: 1px;
}




.selected-head {
  margin-bottom: 65px;
  font-size: 4rem;
  line-height: 64px;
  font-weight: bold;
}

.selected-input {
  background-image: url('../img/seek.svg');
}

.selected-input {

  margin-bottom: 85px;
  height: 60px;
  width: 100%;
  padding: 12px 40px 12px 20px;
  border: 2px solid #000000;
  border-radius: 12px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) 50%;
  background-size: 20px;
}

#selected-item-child {
  margin-top: 200px;
}


.selected-item {
  margin-bottom: 80px;
  display: flex;
}

.selected-img-wrap {
  margin-right: 42px;
}

.selected-img {
  max-width: 600px;
  min-width: 400px;
  width: 100%;
  height: 100%;
}

.selected-item-head {
  line-height: 38px;
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: bold;
}

.selected-item-subtitle {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}

.selected-item-adds {
  margin-bottom: 32px;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
}

.selected-item-time {
  margin-bottom: 32px;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
}

.selected-wrap {
  display: flex;
}

.selected-title-rating {
  margin-right: 40px;
  margin-bottom: 32px;
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
}

.selected-rating {
  margin-top: 3px;
}

.selected-link {

  color: var(--black);
  font-size: .8rem;
  line-height: 20px;
  font-weight: bold;
  transition: .4s;
  position: relative;
  padding-bottom: 2px;
}

.selected-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--black);
  transition: width 0.4s ease;
}

.selected-link:hover::after {
  width: 100%;
}

.selected-link:active::after {
  width: 100%;
}

.selected-btn {
  margin-top: 70px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 18.1rem;
  border-radius: 8px;
  transition: .5s;
}

.selected-btn:hover {
  transform: scale(.98);
}

.selected-btn:active {
  transform: translateY(1px) scale(0.985);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.15),
    inset 0 0 8px rgba(0, 0, 0, 0.4);
  transition-duration: 0.1s;
}



.selected-btn-title {
  font-size: .8rem;
  font-weight: 700;
  line-height: 20px;
  color: var(--white);

}












#none {
  display: none;
}

.footer-line {
  background: var(--orange);
}

.footer-button {
  background: var(--orange);
}


.footer-nav-link:hover {
  color: var(--white);
}

.input-footer {
  border-radius: 10px;
  padding-right: 16px;
  padding-left: 1rem;
}

.img-work {
  max-width: 600px;
  min-width: 400px;
  width: 100%;
  height: 100%;
}




@media (max-width: 1300px) {

  .head-form-wrap {
    flex-direction: column;
  }

  .form-button {
    margin-left: 0px;
    margin-top: 25px;
    width: 300px;
  }

  #none {
    display: block;
    margin-bottom: 40px;
  }

  #block {
    display: none;
  }

  .icon-input-2 {
    width: 100%;
  }

  .form-button {
    width: 100%;
  }

  .body-img-child {
    min-width: 100%;
  }

  .header-body-item {
    justify-content: center;
    height: 1195px;
  }

}

@media (max-width: 1200px) {
  .blog-headtitle {
    font-size: 3.5rem;
  }

}

@media (max-width: 1100px) {
  .blog-headtitle {
    font-size: 3rem;
  }

  .partners-head-title {
    width: 31.25rem;

    font-size: 28px;
    font-weight: bold;
    word-wrap: break-word;
  }

  .blog-wrap {
    display: block;
  }

  .blog-headtitle {
    margin-bottom: 30px;
  }

}


@media (max-width: 1050px) {


  .selected-item {
    flex-direction: column;
    align-items: center;
  }

  .selected-item-wrap {

    margin-left: 19vw;
  }

  .selected-item-head {
    margin-top: 27px;
  }

  .selected-btn{
    margin-top: 30px;
  }


  .selected-item-subtitle {
    width: 52%;
  }

  .selected-img-wrap {
    margin-right: 0;
  }

}



@media (max-width: 1000px) {

  .blog{
    margin-top: 100px;
  }
  .work-wrap {
    flex-direction: column;
    align-items: center;

  }

  .work-wrap{
    gap: 110px;
  }


}



@media (max-width: 900px) {


  .blog-headtitle {
    margin-bottom: 35px;
  }

  .partners-head-title {
    font-size: 23px;
  }

  .header-item {
    background: var(--orange);
  }
}



@media (max-width: 800px) {
  .head-title, .body-head, .work-head, .blog-headtitle, .selected-head {
    font-size: 3rem;
  }

}


@media (max-width: 655px) {
  .head-title, .body-head, .work-head, .blog-headtitle, .selected-head {
    font-size: 2.5rem;
  }

}

@media (max-width: 605px) {
  .header-body-item {
    height: 115vh;
  }

  .selected-item-wrap {
    margin-left: 0vw;
  }
}

@media (max-width: 540px) {
  .head-title, .body-head, .work-head, .blog-headtitle, .selected-head {
    font-size: 2.2rem;
  }
}

@media (max-width: 500px) {
  .selected-item-head {
    font-size: 1.5rem;
  }

  .body-subhead, .body-subhead, .selected-item-subtitle,
  .selected-item-adds, .selected-item-time, .selected-title-rating {
    font-size: 12px;
  }

  .body-img-child {
    min-width: 302px;
  }

  .header-body-item {
    height: 100vh;
  }

  .img-work, .selected-img {
    min-width: 290px;
  }

  .btn-work--white {
    width: 21.6rem;
    font-size: 1.4rem;
  }

  .btn-work--black {
    width: 21.6rem;
    font-size: 1.4rem;
  }



}





@media (max-width: 490px) {
  .head-subtitle {
    font-size: .8rem;
  }



  .partners-head-title {
    font-size: 20px;
  }

  .blog-headtitle {
    font-size: 2rem;
  }

}



@media (max-width: 400px) {

  .body-img-child {
    min-width: 276px;
  }
}

@media (max-width: 380px) {
  .production-img {
    min-width: 260px;
  }

  .btn-work--white {
    width: 18.6rem;
  }

  .btn-work--black {
    width: 18.6rem;
  }


}