.modal {
  background-color: var(--white);
  color: white;
}


.close-button::before,
.close-button::after {
  background: var(--black);
}

.contact-input {
  border: 3px solid var(--red);
  color: #999ead;
}

.contact-form input::placeholder {
  color: #999ead;
}




.contact-form button {
  background-color: var(--black);
  color: var(--white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.contact-form button:hover {
  background-color: var(--red);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-form button:active {
  transform: translateY(2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--red);
}


.checkbox-label {
  color: var(--red);
}

.checkbox-label input[type="checkbox"] {
  border: 1.5px solid var(--red);
}

.checkbox-label input[type="checkbox"]:checked::after {
  color: var(--red);
}


.header__btn-box {
  outline: solid var(--red) 2px;
  transition: .2s;
}

.header__top-btn {
  color: var(--red);
}

.header__btn-box:hover {
  outline: 3px solid var(--red);
}

.header__btn-box:active {
  outline: 3px solid var(--red);
}

.burger__line {

  background: var(--red);
}

.burger.active .burger__line {
  background: var(--red);
}

.popup-link:hover {
  color: var(--red);
}

.footer-line {
  background: var(--red);
}


.footer-button {
  background: var(--red);
}


.article {
  margin-top: 80px;
}

.article-link-wrap {
  display: flex;
  justify-content: flex-end;

}

.article-btn-wrap {
  display: flex;

}

.article-link-title {
  margin-right: 17.6rem;
  font-weight: 700;
  font-size: 30px;
  line-height: 127%;
  color: var(--black);
  margin-bottom: 30px;

}

.article-wrap-title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 40px;
  color: var(--black);

}

.article-item-wrap {
  margin-top: 62px;
}

.article-img-wrap {
  margin-left: 40px;
  border-radius: 10px;
  min-width: 550px;
  max-width: 580px;
  height: 488px;
}

.article-img {
  width: 100%;
  height: 100%;
}

.article-btn {
  margin-top: 45px;
margin-bottom: 105px;
  margin-left: auto;
  border: 2px solid #000;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: var(--black);
  width: 196px;
  height: 56px;
  transition: .5s;
}

.article-btn:hover {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.article-btn:active {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

.filter {

  margin-top: 71px;
  background: var(--red);
  padding: 60px 140px 100px 140px;
}

.filter-head-img {
  display: flex;
  align-items: center;

}

.filter-img {
  margin-right: 14px;
  width: 39px;
  height: 37px;
}

.arrow-img-fill {
  margin-left: 10px;
  margin-top: 3px;
  width: 25px;
  height: 16px;
}




.filter-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
  color: var(--black);
}

.filter-option.active {
  background: #000;
  color: var(--white);
  font-weight: 500;
}

.filter-wrap {
  background: #fff;
  padding: 60px 40px 100px 40px;

}

.filter {
  background: var(--red);

  margin-top: 71px;

}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.filter-head-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 130%;
  color: var(--black);
}

.filter-head-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
  margin-bottom: 40px;
}


.reset-btn {
  background: none;
  border: none;
  font-weight: 400;
  font-size: 1rem;
  color: var(--black);
  cursor: pointer;
  text-decoration: underline;
  margin-top: 45px;
  opacity: .7;
}

.filter-columns {
  display: flex;
  gap: 60px;
}

.filter-column {
  flex: 1;

}

.ml-left {
  margin-left: auto;
}


.column-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.column-title {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 130%;
  color: var(--black);
  margin-right: 12px;
}

.column-icon {
  width: 15px;
  height: 14px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filter-option {
  padding: 0 24px;
  max-width: 240px;
  height: 36px;
  border: 1px solid rgba(22, 24, 21, 0.15);
  background: transparent;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 140%;
  color: var(--black);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.filter-option:hover {
  background: #000;
  color: var(--white);
}


.filter-option.active {
  background: #000;
  color: var(--white);
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.filter-options-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}



.filter-option:hover::after {
  width: 100%;
}


.katalog-wrap {
  cursor: pointer;
  margin-top: 71px;
  display: flex;
}

.katalog-head {
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
  color: var(--black);

}

.katalog-wrap-img {
  gap: 12px;
  margin-left: auto;
  align-items: center;
  display: flex;
}

.katalog-img {
  width: 39px;
  height: 37px;
}

.katalog-img-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 130%;
  color: var(--black);

}

.katalog-img-arrow {
  width: 26px;
  height: 16px;
}


#none {
  display: none;
}

.katalog-wrap-t {
  display: flex;
  margin-top: 110px;
  margin-bottom: 90px;

}

.katalog-title {
  font-weight: 400;
  font-size: 3rem;
  line-height: 100%;
  color: var(--black);
}

.katalog-subtitle {
  margin-left: auto;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--black);
  width: 590px;
}

#selected-item-child {
  margin-top: 150px;
}


.katalog-grid {

  display: grid;
  grid-template-columns: repeat(3, 24.2rem);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.katalog-item:hover {
  transform: translateY(-7px);

}

.katalog-item {

  transition: .5s;
  margin-bottom: 80px;
}

.ktl-img {
  border-radius: 10px;
  width: 386px;
  height: 386px;
}

.katalog-item-headtit {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  color: var(--black);
}

.katalog-item-title {

  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: var(--black);
}







.filter {
  max-height: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 0.5s ease, max-height 0.5s ease;
  padding: 0 140px;
  background: var(--red);
  margin-top: 20px;
}

.filter.filter-open {
  max-height: 2000px;
  transform: translateY(0);
  padding: 60px 140px 100px 140px;
}


.katalog-img-arrow {
  transition: transform 0.5s ease;
}

.filter-open .katalog-img-arrow {
  transform: rotate(180deg);
}


.filter-wrap {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease 0.2s, transform 0.4s ease 0.2s;
}

.filter.filter-open .filter-wrap {
  opacity: 1;
  transform: translateY(0);
}




@media (max-width: 1360px) {


  #block {
    display: none;
  }

  #none {
    display: block;
  }

}


@media (max-width: 1250px) {
  .katalog-grid {
    justify-content: center;
    grid-template-columns: repeat(2, 24.2rem);

  }

}

@media (max-width: 1250px) {
  .article-link-title {
    margin-right: 14.6rem;
    font-size: 1.5rem;
  }

  .filter-wrap {

    padding: 60px 10px 100px 25px;
  }
}

@media (max-width: 1150px) {


  .filter.filter-open {
    padding: 60px 90px 100px 90px;
  }

  .article-link-title {
    margin-right: 11.6rem;
    font-size: 1.3rem;
    white-space: nowrap;
  }

  .article-wrap-title {
    font-weight: 400;
    font-size: .8rem;

  }

  .filter-columns {
    flex-direction: column;
    align-items: center;
  }

  .filter-column {
    width: 469px;
  }
}



@media (max-width: 1050px) {




  .katalog-head {
    font-size: 3rem;
  }

  .katalog-title {
    font-size: 2rem;
  }

  .katalog-wrap-t {
    align-items: center;
    flex-direction: column;
  }

  .katalog-subtitle {
    text-align: center;
    margin-left: 0;
  }

  .katalog-title {
    margin-bottom: 15px;
  }

  .article-btn {
    margin-top: 0;
  }


  .article-link-wrap {
    flex-direction: column-reverse;
    align-items: center;
  }

  .article-btn {
    margin-bottom: 140px;
    margin-right: auto;
  }

  .article-img-wrap {
    margin-left: 0px;
  }
}

@media (max-width: 976px) {}

@media (max-width: 905px) {
  .filter-option {
    padding: 0 20px;
  }

  .filter.filter-open {
    padding: 60px 40px 60px 40px;
  }

}

@media (max-width: 850px) {


  .ktl-img {
    width: 100%;
    min-width: 323px;
    max-width: 376px;
    height: 100%;
  }

  .katalog-head {
    font-size: 2.5rem;
  }

  .katalog-title {
    font-size: 1.5rem;
  }

}

@media (max-width: 800px) {
  .katalog-grid {
    padding-left: 10px;
  }

  .katalog-grid {
    grid-template-columns: repeat(1, 24.2rem);
  }

  .ktl-img {
    width: 100%;
    height: 100%;
  }

  .filter-title {
    font-size: 3rem;
  }
}

@media (max-width: 700px) {

  .katalog-subtitle {
    width: 100%;
    padding-right: 30px;
  }

  .katalog-head {
    font-size: 2.2rem;
  }

  .katalog-wrap {
    flex-direction: column;
    align-items: center;

  }

  .katalog-wrap-img {
    margin-top: 30px;
    margin-left: 0;
  }

}

@media (max-width: 650px) {

  .filter-title {
    font-size: 2.5rem;
  }

  .article-img-wrap {
    min-width: 501px;
    max-width: 501px;
    height: 100%;
  }

  .katalog-head {
    font-size: 2rem;
  }


}

@media (max-width: 600px) {
  .filter-wrap {
    padding: 60px 0px 100px 50px;
  }
}

@media (max-width: 550px) {
  .filter-title {
    font-size: 2.2rem;
  }

  .filter-wrap {
    padding: 60px 0px 100px 50px;
  }
}

@media (max-width: 530px) {
  .filter-options-wrap {
    flex-direction: column;
  }

  .filter-wrap {
    padding: 60px 0px 100px 0px;
  }

  .filter-column {
    width: 258px;
    margin-right: auto;
    margin-left: auto;
  }

  .article-btn {
    width: 177px;
    height: 44px;
    font-size: 0.875rem;

  }

  .article-img-wrap {
    min-width: 301px;
    max-width: 401px;
    height: 100%;
  }

  .article-btn-wrap {
    display: flex;
    flex-direction: row-reverse;
  }

  .article-link-title {
    margin-top: 5px;
    margin-right: 0;
  }

  .article-link-arrow {
    margin-right: auto;
  }
}

@media (max-width: 450px) {
  .ktl-img {
    width: 302px;
    height: 296px;
  }

  .katalog-item {
    margin-bottom: 60px;
  }

  .katalog-grid {

    grid-template-columns: repeat(1, 20.2rem);
  }





  .filter-title, .katalog-head {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .filter-title, .katalog-head {
    font-size: 1.6rem;
  }

  .filter.filter-open {
    padding: 60px 10px 60px 10px;
  }
}