.modal {
    background-color: var(--white);
    color: white;
}


.close-button::before,
.close-button::after {
    background: var(--black);
}

.contact-input {
    border: 3px solid var(--purple);
    color: #999ead;
}

.contact-form input::placeholder {
    color: #999ead;
}



.contact-form button {
    background-color: var(--black);
    color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.contact-form button:hover {
    background-color: var(--purple);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.contact-form button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: var(--purple);
}


.checkbox-label {
    color: var(--purple);
}

.checkbox-label input[type="checkbox"] {
    border: 1.5px solid var(--purple);
}

.checkbox-label input[type="checkbox"]:checked::after {
    color: var(--purple);
}



.header__btn-box {
    outline: solid var(--purple) 2px;
    transition: .2s;
}

.header__btn-box:hover {
    outline: 3px solid var(--purple);
}

.header__btn-box:active {
    outline: 3px solid var(--purple);
}

.header__top-btn {
    color: var(--purple);
}

.burger__line {

    background: var(--purple);
}

.burger.active .burger__line {
    background: var(--purple);
}

.popup-link:hover {
    color: var(--purple);
}

.footer-line {
    background: var(--purple);
}


.footer-button {
    background: var(--purple);
}



.filter {
    background: var(--purple);
}